@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.container {
  z-index: 500;
  position: relative;
}

/** FONTS **/
@font-face {
  font-family: "Tan Buster";
  src: url("../fonts/TAN-BUSTER.woff2") format("woff2"), url("../fonts/TAN-BUSTER.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1, h2 {
  font-family: "Tan Buster", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #ece7e1;
  color: #1a1818;
}

body.black-template {
  background-color: #1a1818;
  color: #ece7e1;
}

/* Styles pour le header */
.header {
  width: 100%;
  height: auto;
  flex-direction: row;
  padding-bottom: 0;
  padding-left: 0;
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav-item {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  transform: rotate(0);
}
.header_nav-item-custom {
  flex: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  transform: rotate(0deg);
}
.header_nav-item-custom a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 4px;
  color: #ece7e1;
}
.header_nav-item-custom a:hover {
  text-decoration: line-through;
}
.header_nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 4px;
  color: #1a1818;
}
.header_nav-item a:hover {
  text-decoration: line-through;
}
.header_nav-line {
  width: 100px;
  height: 1px;
  background-color: #1a1818;
}
.header_nav-line-custom {
  width: 100px;
  height: 1px;
  background-color: #ece7e1;
}
.header .copyright {
  text-align: center;
  letter-spacing: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 500;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    z-index: 600;
    width: 6%;
    height: 85vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
    display: flex;
    position: fixed;
    top: 5rem;
  }
  .header_nav-item {
    flex: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 40px;
    transform: rotate(-90deg);
  }
  .header_nav-item-custom {
    flex: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 40px;
    transform: rotate(-90deg);
  }
  .header_nav-item-custom a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 4px;
    color: #ece7e1;
  }
  .header_nav-line, .header_nav-line-custom {
    margin-top: 10px;
    margin-bottom: 45px;
    width: 1px;
    height: 100px;
  }
  .nav-copyright {
    position: absolute;
    top: auto;
    bottom: 3vh;
    left: 0%;
    right: 0%;
  }
}
.main {
  max-width: 100%;
}
.main_left {
  padding-top: 2rem !important;
}
.main_left-ttl h1 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main_left, .main_right {
  padding: 0 10%;
}

#site-navigation {
  padding-top: 10%;
}
#site-navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
#site-navigation ul li {
  transform: translateX(100%);
  animation: slideInFromRight 1s ease forwards;
}
#site-navigation ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Tan Buster";
  color: #1A1818;
  font-size: 13vw;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .main {
    max-width: 90%;
    margin-left: 10%;
    margin-right: 5%;
    position: relative;
    overflow-x: clip;
  }
  .main_left, .main_right {
    padding: 0;
  }
  .main_left {
    width: 25%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: fixed;
  }
  .main_left-ctn {
    margin-left: 15%;
    padding-top: 90%;
  }
  .main_left-ttl {
    margin-bottom: 2vh;
    padding-top: 5%;
  }
  .main_right {
    width: 65%;
    height: 90vh;
    float: right;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: center;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    display: flex;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
  }
  #site-navigation ul li a {
    font-size: 8vw;
  }
}
.project_ttl {
  text-transform: uppercase;
  font-size: 55px;
  padding-top: 2rem;
  margin-bottom: -1rem;
}
.project_subttl {
  text-transform: uppercase;
  white-space: nowrap;
}
.project_img {
  width: 45rem;
  height: 30rem;
  margin: 0;
}
.project_img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
  border-radius: 28px;
}
.project_ctn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 6rem;
}
.project_txt {
  width: 25%;
}
.project_item a {
  text-decoration: underline;
  color: initial;
}
.project_item-ttl {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heading {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 4rem;
}
.heading .heading-sub {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.heading .heading-sub .horizontal-line {
  flex-grow: 1; /* Fait grandir la ligne horizontale pour remplir l'espace restant */
  border: none;
  border-top: 1px solid black;
  width: 100%;
}

.picto-wrp {
  align-self: flex-end;
  width: 2rem;
  height: 2rem;
}
.picto-wrp .picto {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .project_ttl {
    font-size: 35px;
    padding: 0;
  }
  .project_ctn {
    flex-direction: column;
  }
  .project_img {
    width: initial;
    height: initial;
    padding: 0 1rem;
  }
  .project_txt {
    width: initial;
    padding: 0 2rem;
  }
}
.about {
  position: relative;
}
.about .heading {
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.about_title {
  text-transform: uppercase;
  font-size: 12vw;
  padding-top: 30rem;
  margin-bottom: -1rem;
}
.about_wrp {
  display: flex;
  padding: 0 1rem;
}
.about_txt {
  width: 100%;
  font-weight: 200;
}
.about_image {
  display: flex;
  justify-content: center;
  position: absolute;
  max-height: 450px;
  top: 0rem;
  right: 0;
  width: 100%;
}
.about_med {
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(1);
  width: 100%;
  opacity: 1;
  z-index: -1;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .about .heading {
    margin-bottom: 4rem;
    padding: 0;
  }
  .about_title {
    padding-top: 13rem;
    font-size: 4.5vw;
  }
  .about_wrp {
    margin-top: -3rem;
    padding: 0;
  }
  .about_txt {
    width: 45%;
  }
  .about_image {
    top: 6rem;
    width: 60%;
  }
  .about_med {
    opacity: 1;
  }
}
.contact .heading {
  margin-bottom: 2rem;
}
.contact_title {
  text-transform: uppercase;
  font-size: 12vw;
  padding-top: 1rem;
}
.contact_form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact_form .wpcf7 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact_form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.contact_form .split {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.contact_form .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contact_form .wrapper span {
  width: 100%;
}
.contact_form input, .contact_form textarea {
  width: 100%;
  box-sizing: border-box;
  background: #1a1818;
  color: #ece7e1;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 300;
  border: solid 1px #ece7e1;
  border-radius: 5px;
  padding: 10px;
}
.contact_form input::-moz-placeholder, .contact_form textarea::-moz-placeholder {
  font-style: italic;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #ece7e1;
}
.contact_form input::placeholder, .contact_form textarea::placeholder {
  font-style: italic;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #ece7e1;
}
.contact_form input[type=submit] {
  text-transform: uppercase;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #ece7e1;
  color: #1a1818;
  font-weight: 800;
  border-radius: 28px;
  padding: 15px;
  width: 50%;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .contact_title {
    font-size: 4.5vw;
  }
  .contact_form form {
    width: 49%;
  }
  .contact .split {
    gap: 3rem;
  }
}
.work_title {
  text-transform: uppercase;
  font-size: 4.5vw;
  padding-top: 1rem;
}

.ctn {
  position: relative;
}

.swiper-wrapper {
  height: 60rem;
}

.swiper-slide {
  transition: transform 0.3s ease;
  height: 22rem !important;
  width: 100%;
}
.swiper-slide img {
  filter: grayscale(1);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.swiper-pagination {
  bottom: -4rem !important;
}

.swiper-pagination-bullet {
  background: #ece7e1 !important;
}

@media (max-width: 1200px) {
  .work_title {
    font-size: 12vw;
    padding: 0;
  }
  .swiper-container {
    padding: 0 1rem;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hoverMovement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */