.about {
    position: relative;
    .heading {
        margin-bottom: 1rem;
        padding: 0 1rem;
    }
    &_title {
        text-transform: uppercase;
        font-size: 38px;
        padding-top: 10rem;
        margin-bottom: -1rem;
    }
    &_wrp {
        display: flex;
        padding: 0 1rem;
    }
    &_txt {
        width:100%;
        font-weight: 200;
    }
    &_image {
        display: flex;
        justify-content: center;
        position: absolute;
        max-height: 450px;
        top: -4rem;
        right: 0;
        width: 60%;
    }
    &_med {
        object-fit: contain;
        filter: grayscale(1);
        width: 100%;
        opacity: 0.4;
        z-index: -1;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
    .about {
        .heading {
            margin-bottom: 4rem;
            padding: 0;
        }
        &_title {
            padding-top: 5rem;
        }
        &_wrp {
            margin-top: -3rem;
            padding: 0;
        }
        &_txt {
            width:45%;
        }
        &_image {
            top: 6rem;
        }
        &_med {
            opacity: 1;
        }
    }
}