/* Styles pour le header */
.header {
    z-index: 600;
    width: 6%;
    height: 85vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
    display: flex;
    position: fixed;
    top: 5rem;

    &_nav {
        &-item {
            flex: 0 auto;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 15px;
            transform: rotate(-90deg);
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 4px;
                color: #1a1818;
            }
            &-custom {
                flex: 0 auto;
                margin-bottom: 40px;
                padding-left: 20px;
                padding-right: 15px;
                transform: rotate(-90deg);
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 10px;
                    letter-spacing: 4px;
                    color: #ece7e1;
                }
            }
        }

        &-line {
            width: 1px;
            height: 100px;
            background-color: #1a1818;
            margin-top: 10px;
            margin-bottom: 80px;
            &-custom {
                width: 1px;
                height: 100px;
                background-color: #ece7e1;
                margin-top: 10px;
                margin-bottom: 80px;
            }
        }
    }
}

.nav-copyright {
    position: absolute;
    top: auto;
    bottom: 3vh;
    left: 0%;
    right: 0%;
}

.copyright {
    text-align: center;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
}