.work {

    &_title {
        text-transform: uppercase;
        font-size: 4.5vw;
        padding-top: 1rem;
    }

}

.ctn {
    position: relative;
    // overflow-y: hidden;
}

.swiper-wrapper {
    height: 60rem;

}
.swiper-slide {
    transition: transform 0.3s ease; 
    height: 22rem !important;
    width: 100%;
    img {
        filter: grayscale(1);
        object-fit: cover;
        object-position: top;
        border-radius: 1rem;        
        height: 100%;
        width: 100%;
    }
}

.swiper-pagination {
    bottom: -4rem !important;
}

.swiper-pagination-bullet {
    background: #ece7e1 !important;
}

@media (max-width: 1200px) {
    .work {

        &_title {
            font-size: 12vw;
            padding:0;
        }
    }
    .swiper-container {
        padding: 0 1rem;
    }
}